html {
  scroll-behavior: smooth;
}

body {
  font-family: "Manrope", sans-serif;
  width: 100%;
}

section {
  padding: 62.82px 125px 0 125px;
}

.section:first-of-type {
  margin-top: 0;
}

.section-black {
  background-color: black;
}

.section-black h1,
h2,
h3 {
  color: #fff;
}

.section-long {
  padding-bottom: 150px;
}

.container {
  margin: 0 auto;
  width: 1400px;
}

.interior {
  position: relative;
  margin-top: 30px;
  padding-left: 40px;
  width: 1150px;
  height: 500px;
  background-image: url(resorses/interior.png);
  background-repeat: no-repeat;
}

.image-text {
  position: absolute;
  left: 40px;
  bottom: 40px;
  font-size: 20px;
  letter-spacing: -0.03em;
  color: #fff;
  width: 430px;
}

h1 {
  font-size: 60px;
  line-height: 100%;
  letter-spacing: -0.03em;
}

h2 {
  font-size: 18px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: black;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  letter-spacing: -0.03em;
}

.the company {
  font-size: 45px;
  letter-spacing: -0.03em;
}
p {
  width: 1051px;
  font-size: 45px;
  letter-spacing: -0.03em;
}

.form-service {
  background-color: #ad1818;
  text-decoration: none;
  padding: 20px 40px;
  display: inline-block;
  margin-top: 30px;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.item {
  width: 1150px;
  margin-bottom: 90px;
}

.Projects {
  margin-bottom: 30px;
  color: black;
}

.item-text {
  font-size: 30px;
  letter-spacing: -0.03em;
  color: #121212;
  margin-bottom: 15px;
}
.form-details {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: -0.03em;
  color: #ad1818;
}

.btn {
  display: block;
  width: 1150px;
  height: 153px;
  line-height: 153px;
  border: 1px solid #ad1818;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  color: #ad1818;
  font-size: 30px;
  letter-spacing: -0.03em;
}
.btn:hover {
  background-color: #ad1818;
  color: #fff;
}

.section-black {
  background-color: black;
  padding: 150px 125px 0 125px;
  height: 1694px;
}

.section-black h2 {
  color: #fff;
}

.service {
  margin-top: 34px;
}

.service .service {
  margin-top: 60px;
}

.service:first-child {
  margin-top: 0;
}

.service__image {
  margin-bottom: 15px;
}

header {
  width: 1151px;
  margin: 0 auto;
  padding-top: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link {
  margin-left: 60px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-align: right;
  text-decoration: none;
  color: #121212;
}

.nav__link:hover {
  opacity: 0.5;
  border-bottom: 1px solid black;
}

.fullwidthimage {
  width: 1400px;
  height: 717px;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0.52%,
      rgba(0, 0, 0, 0.4) 82.81%
    ),
    url("resorses/two-room.png");
  background-size: cover;
  background-position: 50%;
}
.text-fullwidthimage {
  font-weight: 400;
  font-size: 30px;
  letter-spacing: -0.03em;
  color: #fff;
  padding-top: 575px;
  padding-left: 125px;
  margin: 0px;
}
.Contact__information {
  width: 473px;
  height: 217px;
  padding-top: 186px;
  margin-bottom: 150px;
}

.Contact__information:before {
  content: "";
  display: block;
  width: 13px;
  height: 22px;
  background-image: url(resorses/iphone.jpg);
}

.tel,
.mail {
  font-size: 60px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #121212;
  text-decoration: none;
}

.footer {
  margin: 0 auto;
  width: 1400px;
  height: 229px;
  background-color: black;
}

.nav-footer {
  text-align: center;
  height: 25px;
  padding-top: 60px;
}

.nav_link_footer {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-decoration: none;
  color: #fff;
}

.nav_link_footer:not(:first-child) {
  margin-left: 55px; /* Задаем отступ между всеми элементами, кроме первого */
}

.name-text {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: -0.03em;
  color: #fff;
  position: absolute;
  margin-left: 509px;
  opacity: 0.5;
  margin-top: 87px;
}
